<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="lazyLoadingEnabled" value="false"/>
		<!-- 设置但JDBC类型为空时,某些驱动程序 要指定值,default:OTHER，插入空值时不需要指定类型 -->
        <setting name="jdbcTypeForNull" value="NULL"/>
	</settings>

	<typeAliases>
		<typeAlias type="com.lixf.urp.sys.model.User" alias="User"/>
		<typeAlias type="com.lixf.urp.common.model.TreeNode" alias="TreeNode"/>
		<typeAlias type="com.lixf.urp.sys.model.Menu" alias="Menu"/>
		<typeAlias type="com.lixf.urp.sys.model.Role" alias="Role"/>
		<typeAlias type="com.lixf.urp.sys.model.Office" alias="Office"/>
	</typeAliases>
	
</configuration>